@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Mormon Movies App</h1>
        <p>Movies we'll love, movies that make us laugh, movies make us ponder</p>

        <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
            <div class="carousel-cell" style="margin: 0 20px">
                <img src="https://2.bp.blogspot.com/_4VLSNUC-Y34/ScAoIBljpzI/AAAAAAAAAyo/f_G-MNkxJgI/s400/RM_video.jpg" />
            </div>
            <div class="carousel-cell">
                <img src="/meet-mormons.jpg" style="margin: 0 20px" />
            </div>
            <div class="carousel-cell" style="margin: 0 20px">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5b/Lds_legacy.jpg/220px-Lds_legacy.jpg" />
            </div>
            <div class="carousel-cell">
                <img src="/saratov.jpg" style="margin: 0 20px" />
            </div>
            <div class="carousel-cell">
                <img src="/coke.jpg" style="margin: 0 20px" />
            </div>
            <div class="carousel-cell">
                <img src="/carthage.jpg" style="margin: 0 20px" />
            </div>
        </div>
    </div>
